{{define "body"}}
<!doctype html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Welcome</title>
    </head>

    <body>
      <h1 style="color:#0ea5e9;width:300px" width="300">{{.Title}}</h1>
      <p>{{.Body}}</p>
      <p>{{.AdditionalInfo}}<p>
    </body>
</html>
{{end}}